@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Employee Management System</h1>
    <p> This System helps to manage all Employee Details regarding to office</p>
</div>

